//Import Files
@use "./variblies.scss" as *;

//Import Font
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


//Rules 

$socials: ("facebook": #1877f2, "twitter": #1da1f2, "dribble": #9ba5a8, "google": #dd4b39, "github": #333,"instagram": #e1306c, "linkedin": #313335, "pinterest": #e60023, "youtube": #ff0000);

@each $name, $color in $socials {
    .#{$name}{
        cursor: pointer;
        transition: all 1s;
    }
    .#{$name}:hover{
        color: $color !important;
    }
}

body{
  background-color:#FFFFFF;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: $Font-size;
  h1,h2,h3,h4,h5,h6{
    font-weight: 600;
  }
  p{
    font-weight: 400;
  }
}